:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.8680 0.2110 109.7692);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.7635 0.2408 260.8178);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.3211 0 0);
  --accent: oklch(0.7489 0.2370 26.9728);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0 0 0);
  --destructive-foreground: oklch(1.0000 0 0);
  --success: oklch(0.7323 0.2492 142.4953);
  --success-foreground: oklch(0 0 0);
  --border: oklch(0 0 0);
  --input: oklch(0 0 0);
  --ring: oklch(0.8680 0.2110 109.7692);
  --chart-1: oklch(0.8680 0.2110 109.7692);
  --chart-2: oklch(0.7635 0.2408 260.8178);
  --chart-3: oklch(0.7489 0.2370 26.9728);
  --chart-4: oklch(0.7323 0.2492 142.4953);
  --chart-5: oklch(0.6931 0.2726 328.3634);
  --sidebar: oklch(0.9551 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.8680 0.2110 109.7692);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.7635 0.2408 260.8178);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0 0 0);
  --sidebar-ring: oklch(0.8680 0.2110 109.7692);
  --font-sans: Space Grotesk, sans-serif;
  --font-serif: Space Grotesk, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0px;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 1.00);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 1.00);
  --shadow-sm: 6px 6px 0px 0px hsl(0 0% 0% / 1.00);
  --shadow: 8px 8px 0px 0px hsl(0 0% 0% / 1.00);
  --shadow-md: 10px 10px 0px 0px hsl(0 0% 0% / 1.00);
  --shadow-lg: 12px 12px 0px 0px hsl(0 0% 0% / 1.00);
  --shadow-xl: 16px 16px 0px 0px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 20px 20px 0px 0px hsl(0 0% 0% / 1.00);
  --tracking-normal: 0.02em;
  --spacing: 0.25rem;
  --border-width: 4px;
}